
@{

	Layout = null; 
}

<!DOCTYPE html>
<html>

	<head>

	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">

	<link href="~/css/styleerror.css" rel="stylesheet" />

	<link rel="shortcut icon" type="image/png" href="~/icono_principal.png" />


		<title>EmpleoConecta | Error</title>

	</head>

	<body>

	<div class="container error-container">
		<div class="row  d-flex align-items-center justify-content-center">
			<div class="col-md-12 text-center">
				<h1 class="big-text">Oops!</h1>
				<h2 class="small-text">ERROR</h2>

			</div>
			<div class="col-md-6  text-center">
				<p>En el procedimiento que acabas de hacer detectamos errores, vuelve a intentar.</p>
			</div>

		</div>


	</div>

	</body>

	</html>
